*.vvp
*.lxt
*.gtkw
*/rescue-backup/
*.bak
*-bak
*.lck
*.kicad_pcb-bak
*.kicad_prl
*.net
*.jpg
*.png
*.pdf
*.ps
*.eps
*.bit
*.zip
*.html
vivado*.jou
vivado*.log
vivado*.str
vivado_pid*.zip
/verilog/sd.hex
/verilog/sd.lst
/papers/images/*.lib
/papers/images/*.bck
/papers/images/*.dcm
/documentation/*.aux
/documentation/*.log
/documentation/*.out
/documentation/*.toc
/builds
/docs
/tmp
/uas
/diag
/jnc
/xilinx
/bus-xcvr
production/*
fabrication-toolkit-options.json
fp-info-cache
DEC.*
